{% extends 'base.html' %}

{% block content %}
<div class="tabla-registro">

    <div class="container-btn">
        <a class="btn btn-medic" href="{% url 'clinica:medico-create' %}">Ingresar nuevo médico</a>
        <a class="btn btn-medic" href="{% url 'clinica:paciente-list' %}">Pacientes</a>
    </div>

    <div>
        <table class="table table-striped">
            <thead class="text-center align-middle">
                <tr>
                    <td>Nombre</td>
                    <td class="hide-data">Número de colegiado</td>
                    <td>Especialidad</td>
                    <td>Diagnóstico</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody class="text-center align-middle">
                {% if object_list %}
                {% for medico in object_list %}
                <tr>
                    <td>{{medico.nombre}}</td>
                    <td class="hide-data">{{medico.numero_colegiado}}</td>
                    <td>{{medico.especialidad}}</td>
                    <td>{{medico.diagnostico}}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'clinica:medico-update' medico.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'clinica:medico-delete' medico.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-center">No hay registros</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>


{% endblock content %}