{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<div class="tabla-registro">

    <div class="container-btn">
        <a class="btn btn-medic" href="{% url 'clinica:paciente-create' %}">Ingresar nuevo paciente</a>
        <a class="btn btn-medic" href="{% url 'clinica:medico-list' %}">Médicos</a>
    </div>

    <div>
        <table class="table table-striped">
            <thead class="text-center align-middle">
                <tr>
                    <th>Nombre</th>
                    <th>DPI</th>
                    <th class="hide-data">Fecha de nacimiento</th>
                    <th class="hide-data">Dirección</th>
                    <th>Número telefónico</th>
                    <th>Citas</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody class="text-center align-middle">
                {% if object_list %}
                    {% for paciente in object_list %}
                        <tr>
                            <td>{{ paciente.nombre }}</td>
                            <td>{{ paciente.dpi }}</td>
                            <td class="hide-data">{{ paciente.fecha_de_nacimiento }}</td>
                            <td class="hide-data">{{ paciente.direccion }}</td>
                            <td>{{ paciente.numero_telefonico }}</td>
                            <td>
                                {% if paciente in citas_por_paciente %}
                                <a href="{% url 'clinica:citas-paciente' paciente.id  %}" class="btn btn-info btn-sm">Ver citas</a>
                                {% endif %}
                                <br>
                                <a href="{% url 'clinica:cita-create' paciente.id %}" class="btn btn-success btn-sm">Agregar cita</a>
                            </td>
                            <td>
                                <div class="container-btns">
                                    <a class="btn btn-primary btn-sm" href="{% url 'clinica:paciente-update' paciente.id %}">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'clinica:paciente-delete' paciente.id %}">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">No hay registros</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}
