{% extends 'base.html' %}

{% block content %}
<div>
    <h3>
        ¡Contáctenos!
    </h3>
    <p>
        Estamos encantados de estar a su disposición para responder a sus preguntas, agendar citas y proporcionar la
        información que necesita para acceder a nuestros servicios médicos de primera categoría. En La Eterna
        Primavera, su salud y bienestar son nuestra prioridad, y estamos aquí para brindarle una atención excepcional.
    </p>
    <h3>
        Dirección:
    </h3>
    <p>
        123 Avenida de las Flores, Ciudad Primavera, CP 12345
    </p>
    <h3>
        Teléfono:
    </h3>
    <p>
        +502 1234-5678
    </p>
    <h3>
        Correo Electrónico:
    </h3>
    <p>
        info@clinicaeternaprimavera.com
    </p>
    <h3>
        Horario de Atención:
    </h3>
    <p>
        Lunes a Viernes: 8:00 AM - 6:00 PM
        Sábados: 9:00 AM - 1:00 PM
        Domingos: Cerrado
    </p>
    <h3>
        Citas Médicas:
    </h3>
    <p>
        Puede programar una cita médica llamando a nuestro número de teléfono o utilizando nuestra plataforma en línea
        [proporcione el enlace si está disponible].
    </p>
    <h3>
        Formulario de Contacto:
    </h3>
    <p>
        También puede enviarnos un mensaje directo utilizando nuestro formulario de contacto en línea [proporcione el
        enlace si está disponible]. Nuestro equipo de atención al cliente se comunicará con usted en breve.
    </p>
    <h3>
        Emergencias:
    </h3>
    <p>
        En caso de una emergencia médica, le recomendamos que se comunique con el servicio de emergencias local o vaya
        al hospital más cercano. La seguridad de nuestros pacientes es fundamental, y la atención de emergencia debe ser
        proporcionada de inmediato.

        Estamos ansiosos por escuchar de usted y ser su socio en su viaje hacia una salud óptima. ¡No dude en ponerse en
        contacto con nosotros en cualquier momento!
    </p>
</div>
{% endblock content %}